{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["include", "mixin", "for", "if"]
    }],
    "color-hex-case": "upper",
    "color-hex-length": "short",
    "color-named": "always-where-possible",
    "color-no-invalid-hex": true,
    "number-no-trailing-zeros": true,
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["fuse-main"]
    }],
    "rule-empty-line-before": ["always", {
      "except": ["inside-block-and-after-rule", "first-nested"]
    }],
    "selector-list-comma-newline-after": "always-multi-line"
  }
}
