<md-sidenav-container fxLayout="column" fxFlexFill class="mat-app-background">
  <md-sidenav #sideNav mode="push" class="app-sideNav">
    <md-nav-list>
      <md-list-item [routerLink]="['/fog']">FoG</md-list-item>
      <md-list-item [routerLink]="['/about']">About</md-list-item>
      <md-list-item>Row #02</md-list-item>
      <md-list-item>Row #03</md-list-item>
      <md-list-item>Row #04</md-list-item>
      <md-list-item>Row #05</md-list-item>
    </md-nav-list>
  </md-sidenav>

  <div fxLayout="column" fxFlexFill style="padding: 8px">
    <app-page-header-toolbar></app-page-header-toolbar>

    <!-- Page content -->
    <div fxLayout="row"  fxFlex="1 1 100%">
      <div fxLayout="column" fxFlex="1 1 auto" style="overflow: auto;">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Page footer -->
    <div fxLayout="row" fxFlex="0 1 auto">
      <span>Designed by CBSAdvisor</span>
    </div>
  </div>
</md-sidenav-container>
