<div fxLayout="column" fxFlex="1 1 auto" class="mat-app-background" style="padding: 8px">
  <md-toolbar color="primary" fxFlex="0 0 auto">
    <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <img src="../assets/img/logo.png" width="24px" />
      <span>NETFLIX</span>
    </span>
    <span fxFlex="1 0 auto"></span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Settings</button>
    <button md-menu-item>About</button>
  </md-menu>

  <div fxLayout="row" fxFlex="1 1 100%">
    <div fxLayout="column" fxFlex="1 1 100%" style="overflow: auto;">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div fxLayout="row" fxFlex="0 1 auto">
    <span>Designed by CBSAdvisor</span>
  </div>
</div>
