div {
    display: flex;
}

span {
    opacity: 0;
    transition: opacity 200ms;
}

:host.floating span {
    opacity: 1;
}

:host /deep/ span {
    > .ui-button {
        top: -0.220em;
        height: 1.6em;
        font-size: 1em;
    }
}
